{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1>Clientes</h1>
<ul>
    {% for cliente in clientes %}
    <form id="form_listar">
    <p>
           {{ cliente.nome }} 
           <button id="deletar"> <a href="{% url 'excluir_cliente' cliente.id %}" onclick="return confirm('Excluir este cliente?');">
                Excluir 
            </a>
            
        </button>
        <button id="atualizar">
            <a href="{% url 'editar_cliente' cliente.id %}"> Editar</a>           
        </button>
    </p>
    </form>
    {% endfor %}
</ul>
{% endblock %}
