<nav>
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="{% url 'endereco' %}">Endereço</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'parceiros' %}">Parceiros</a></li>
        <li><a href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a></li>
        <li> <a href="{% url 'cadastrar_produto'%}">Cadastrar Produto</a></li>
        <li> <a href="{% url 'cadastrar_pedido'%}">Cadastrar Pedido</a></li>
    </ul>
</nav>